*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background-image: url(mercado.webp);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;    
}
.container{
    width: 100%;
    display: flex;
}
header{
    background-image: linear-gradient(to bottom, white,#fad2ad);
    text-align: center;
    padding-top: 70px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 3px (rgb(43, 41, 41));
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(49, 48, 48, 0.268);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

table{
    border-collapse: collapse;
    margin: 10px;
    width: 200px;
}
ol{
    font-size: 15px;
    color: chocolate;
    margin-left: 50%;
}
ul{
    font-size: 15px;
    color: brown;
    padding-top: 20px;
    margin-left: 50%;
}
h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rebeccapurple;
}
h2{
    margin-bottom: 10px;
    margin: 10px;
}
.paragrafo{
    color: rgb(214, 88, 88);
    font-size: 20px;
    margin: 8px;
}
input{
    margin: 10px
}
.sim
{
    text-align: center;
    border-collapse: separate;
}
th, td{
    border: 1px solid #000;
    text-align: left;
}
td{
    font-size: 19px;
    padding: 6px;
}
tr{
    color: rebeccapurple;
    font-size: 20px;
}
dt{
    font-size: 20px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: rebeccapurple;
}
dd{
    padding-bottom: 10px;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.enviar{
    color: black;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 10px;
    width: 10%;
    border-radius: 10px;
}
.enviar:hover{
    background-color: rebeccapurple;
}
.descricao{
    margin: 5px;
    padding: 5px;
}
